
<h3 *ngIf="serviceTrain.train">Поїзд № {{serviceTrain.train.trainNumber}} маршрут: "{{serviceTrain.train.nameRoute}}"</h3>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="serviceStation.stations">
  <thead>
    <tr>
      <th>Назва станції</th>
      <th>Час прибуття поїзда</th>
      <th>Час відбуття поїзда</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let station of serviceStation.stations">
      <td>{{ station.nameStation }}</td>
      <td>{{ station.arrivalTime | date : 'HH:mm'}}</td>
      <td>{{ station.departureTime | date : 'HH:mm'}}</td>
    </tr>
  </tbody>
</table>

